project/data/embeddings/chunked_docs.pkl filter=lfs diff=lfs merge=lfs -text
project/data/embeddings/faiss_indices/** filter=lfs diff=lfs merge=lfs -text
project/finetuning/TSDAE/gte-base-fine-tune/** filter=lfs diff=lfs merge=lfs -text